#header {
	background: transparent url(http://api.ning.com/files/OHyCAfaJIRV2o-BuJyDGP*Qv6d7EFuzq*iqWOV8Gd8ARErZYj2Or-o7xRQDpf9yfFmAEEpJUFs1m-jcWaKw71GaKRZW9tJ6S/saguaroMoon_seip.jpg) no-repeat;
	background: transparent url(http://upload.wikimedia.org/wikipedia/en/7/72/Comet_McNaught_with_moon_setting_over_sea.JPG) no-repeat;
	background: transparent url(/images/logo.jpg) no-repeat;
	background: #27303F none;
}

#main {
	background-color: white;
	margin: 0 auto 0 auto;
	width: 980px;
}

#content {
	padding: 8px;
	margin: 0px auto 8px auto;
}

/* logo */

h1.first {
	padding-top: 0;
}

.logo .txt h1 { 
	font: bold 55px/55px "Arial";
	line-height: 55px;
	letter-spacing: -3px;
}

.logo .txt h1 a, .logo .txt h1 a:visited, .logo .txt h1 a:hover { 
		color:#272d36;
		color: white;
		text-decoration: none;
}

.logo .txt span {
	font: bold 30px/30px "Arial";
	letter-spacing: -1px;
	color: #2abada;
}

#menu {
	background-color: #C6E5F2;
	height: 36px;
}

#menu ul {
	list-style: none outside none;
	margin: 0;
	position: relative;
	left: -10px;
}

#menu ul li {
	
	margin-right: 12px;
	float: left;
	padding: 12px 4px 12px 4px;
}

#menu ul li a {
	color: #70829C;
	font-weight: bold;
	text-decoration:none;
}

#menu ul li.active, #menu ul li.active a {
	background-color: white;
	color: #272D36;
	height: 36px;
}